body{
    background-color: #fff;
}
main{
    width: 400px;
    margin: auto;
    margin-top: 200px;
    background-color: rgba(228, 227, 227, 0.904);
    border: 1px solid #2e6720;
}
main h1{
    text-align: center;
    padding: 10px;
    font: normal 30px Arial;
    font-weight: bold;
    color: #2e6720;
}
#box-input{

    padding: 5px;
    font:normal 20px Arial;
    color: #2e6720;
    margin: 10px;
    
}
.destaque{
    display: block;
}
input[type=email], input[type=password]{
    width: 300px;
}
input{
    border: 2px solid gray;
}
#btn{
    width: 200px;
    margin-left: 70px;
    padding: 5px;
}